<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Hosts", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @host, host_path(@host) %></li>
    <li class="breadcrumb-item"><%= link_to @repository.owner, host_owner_path(@host, @repository.owner) %></li>
    <% if @repository.subgroups.any? %>
      <% subgroups = [] %>
      <% @repository.subgroups.each do |group| %>
        <% subgroups += [group] %>
        <li class="breadcrumb-item"><%= link_to group, subgroup_host_owner_path(@host, @repository.owner, subgroups) %></li>
      <% end %>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page"><%= @repository.project_slug %></li>
  </ol>
</nav>

<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title h3 mb-0">
      <%= link_to @repository.project_slug, @repository.html_url, target: :_blank %>
      <% if @repository.fork %>
        <span class="badge bg-secondary">Fork</span>
      <% end %>
    </h1>
  </div>
</div>

<% if @repository.description.present? %>
  <p><%= @repository.description %></p>
<% end %>

<% if @tags.length > 0 %>
  <div class="dropdown mb-3">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Tags
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to @repository.default_branch, url_for(sha: nil), class: "dropdown-item #{'active' if @sha == @repository.default_branch}" %>
      </li>
      <% @tags.each do |tag| %>
        <li>
          <%= link_to tag, url_for(sha: tag.name), class: "dropdown-item #{'active' if tag.name == @sha}" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
