<div class="container-sm">
  <h1>
    <%= link_to @host, host_path(@host) %> / <%= link_to @repository, @repository.html_url, target: :_blank %>
  </h1>

  <p><%= @repository.description %></p>

  <div class="row">
    <div class="col-md-4">
      <p><small class='text-muted'>
        <% if @repository.fork && @repository.source_name %>
          Fork of <%= link_to @repository.source_name, host_repository_path(@host, @repository.source_name) %><br/>
        <% end %>
        Stars: <%= number_with_delimiter @repository.stargazers_count %><br/>
        Forks: <%= number_with_delimiter @repository.forks_count %><br/>
        Open Issues: <%= number_with_delimiter @repository.open_issues_count %><br/>
      </small></p>
    </div>
    <div class="col-md-4">
      <p><small class='text-muted'>
        License: <%= @repository.license || 'None' %><br/>
        Language: <%= @repository.language %><br/>
        <% if @repository.size %>
          Repo Size: <%= number_to_human_size @repository.size*1000 %><br/>
        <% end %>
        Dependencies: <% if @repository.dependencies_parsed_at %>
          <%= number_with_delimiter @repository.dependency_ids.length %>
        <% else %>
          pending
        <% end %>
      </small></p>
    </div>
    <div class="col-md-4">
      <p><small class='text-muted'>
        Created: <%= distance_of_time_in_words_to_now @repository.created_at %> ago<br/>
        Updated: <%= distance_of_time_in_words_to_now @repository.updated_at %> ago<br/>
        <% if @repository.pushed_at %>
          Last pushed: <%= distance_of_time_in_words_to_now @repository.pushed_at %> ago<br/>
        <% end %>
        <% if @repository.last_synced_at %>
          Last synced: <%= distance_of_time_in_words_to_now @repository.last_synced_at %> ago<br/>
        <% end %>
      </small></p>
    </div>
  </div>

  <h5>Files</h5>

  <div class='card' id="files" data-url="<%= @repository.download_url %>" data-basename="<%= @repository.archive_basename %>" data-path="<%= params[:path] %>">
    <div id='files-header' class="card-header"></div>
    <ul id="files-list" class="list-group list-group-flush"></ul>
    <div id="files-content" class="card-body">Loading...</div>
  </div>
  
  <% if @repository.dependencies_parsed_at %>
    <% if @manifests.present? %>
      <h5 class='mt-3'>Dependencies</h5>
      <% @manifests.each do |manifest| %>
        <div class="card mb-3">
          <div class="card-header">
            <%= link_to manifest.filepath, manifest.repository_link, target: :_blank %>
          </div>
          <ul class="list-group list-group-flush">
            <% if manifest.lockfile? && manifest.dependencies.length > 100 %>
              <li class="list-group-item">
                <%= link_to pluralize(manifest.dependencies.length, 'dependencies'), manifest.repository_link, target: :_blank %>
              </li>
            <% else %>
              <% manifest.dependencies.sort_by{|d| [d.kind, d.package_name]}.each do |dependency| %>
                <li class="list-group-item">
                  <%= dependency.package_name %>
                  <i><%= dependency.requirements %></i>
                  <small class='text-muted'>
                  <% if dependency.kind != 'runtime' %>
                    <%= dependency.kind %>
                  <% end %>
                  <% if dependency.optional %>
                    (optional)
                  <% end %>
                  </small>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% else %>
      <p class='mt-3'>No dependencies found</p>
    <% end %>
  <% end %>
</div>