<% @meta_title = "#{@repository.full_name} | #{@host}" %>
<% @meta_description = @repository.description %>

<% content_for :head do %>
  <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/github.min.css">
  <script defer src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
<% end %>

<div class="container-sm">
  <%= render 'overview' %>

  <div class="row">
    <div class="col-lg-8">
      <%= render 'tabs' %>

      <div class='card mt-3' id="files" data-url="<%= @repository.download_url(@sha, params['sha'].present? ? 'tag' : 'branch') %>" data-basename="<%= @sha || @repository.archive_basename %>" data-path="<%= params[:path] %>">
        <div id='files-header' class="card-header"></div>
        <ul id="files-list" class="list-group list-group-flush"></ul>
        <div id="files-content" class="card-body">Loading...</div>
      </div>
    </div>
    <div class="col-lg-4">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>
