<% @meta_title = "#{@repository.full_name} | #{@host}" %>
<div class="container-sm">
  <h1>
    <%= link_to @host, host_path(@host) %> /
    <%= link_to @repository.owner, host_owner_path(@host, @repository.owner) %> / 

    <% if @repository.subgroups.any? %>
      <% subgroups = [] %>
      <% @repository.subgroups.each do |group| %>
        <% subgroups += [group] %>
        <%= link_to group, subgroup_host_owner_path(@host, @repository.owner, subgroups) %> / 
      <%end %>
    <% end %>
    <%= link_to @repository.project_slug, @repository.html_url, target: :_blank %>
  </h1>

  <p><%= @repository.description %></p>

  <p>
    JSON API: <%= link_to api_v1_host_repository_url(@host, @repository), api_v1_host_repository_url(@host, @repository), target: :_blank %>
  </p>

  <div class="row">
    <div class="col-md-4">
      <p><small class='text-muted'>
        <% if @repository.fork && @repository.source_name %>
          <%= t('repositories.fork_of') %> <%= link_to @repository.source_name, host_repository_path(@host, @repository.source_name) %><br/>
        <% end %>
        <span class='text-capitalize'><%= Repository.human_attribute_name(:stargazers_count) %></span>: <%= number_with_delimiter @repository.stargazers_count %><br/>
        <span class='text-capitalize'><%= Repository.human_attribute_name(:forks_count) %></span>: <%= number_with_delimiter @repository.forks_count %><br/>
        <span class='text-capitalize'><%= Repository.human_attribute_name(:open_issues_count) %></span>: <%= number_with_delimiter @repository.open_issues_count %><br/>
      </small></p>
    </div>
    <div class="col-md-4">
      <p><small class='text-muted'>
        <span class='text-capitalize'><%= Repository.human_attribute_name(:license) %></span>: <%= @repository.license || 'None' %><br/>
        <span class='text-capitalize'><%= Repository.human_attribute_name(:language) %></span>: <%= @repository.language %><br/>
        <% if @repository.size %>
          <span class='text-capitalize'><%= Repository.human_attribute_name(:size) %></span>: <%= number_to_human_size @repository.size*1000 %><br/>
        <% end %>
       <span class='text-capitalize'><%= Repository.human_attribute_name(:dependencies_parsed_at) %>: <% if @repository.dependencies_parsed_at && @manifests %>
          <%= number_with_delimiter @manifests.sum{|m| m.dependencies.length } %>
        <% else %>
          <%= t('repositories.dependencies.pending') %>
        <% end %>
      </small></p>
    </div>
    <div class="col-md-4">
      <p><small class='text-muted'>
        <span class='text-capitalize'><%= Repository.human_attribute_name(:created_at) %></span>: <%= t('time_ago', time: distance_of_time_in_words_to_now(@repository.created_at)) %><br/>
        <span class='text-capitalize'><%= Repository.human_attribute_name(:updated_at) %></span>: <%= t('time_ago', time: distance_of_time_in_words_to_now(@repository.updated_at)) %><br/>
        <% if @repository.pushed_at %>
          <span class='text-capitalize'><%= Repository.human_attribute_name(:pushed_at) %></span>: <%= t('time_ago', time: distance_of_time_in_words_to_now(@repository.pushed_at)) %><br/>
        <% end %>
        <% if @repository.last_synced_at %>
          <span class='text-capitalize'><%= Repository.human_attribute_name(:last_synced_at) %></span>: <%= t('time_ago', time: distance_of_time_in_words_to_now(@repository.last_synced_at)) %><br/>
        <% end %>
      </small></p>
    </div>
  </div>

  <% if @repository.commit_stats %>
    <h5>Commit Stats</h5>
    <p>
      <small class='text-muted'>
        Commits: <%= @repository.commit_stats['total_commits'] %><br/>
        Authors: <%= @repository.commit_stats['total_committers'] %><br/>
        Mean commits per author: <%= @repository.commit_stats['mean_commits'].to_f.round(2) %><br/>
        Development Distribution Score: <%= @repository.commit_stats['dds'].to_f.round(3) %><br/>
        More commit stats: <%= link_to @repository.commits_url, @repository.commits_url, target: :_blank %>
      </small>
    </p>
  <% end %>

  <% if @repository.topics.any? %>
    <p><small class='text-muted'>
    Topics: 
    <% if @repository.host.host_instance.topic_url('test') %>
      <% @repository.topics.reject(&:blank?).uniq.each_with_index do |k, i| %><%= ', ' if i > 0 %><%= link_to k, topic_host_path(@repository.host.name, k), target: :_blank %><% end %>
    <% else %>
      <%= @repository.topics.join(', ') %>
    <% end %>
    </small></p>
  <% end %>


  <% if @repository.funding_links.any? %>
    <p><small class='text-muted'>
    Funding links: <% @repository.funding_links.each_with_index do |url,i| %><%= ', ' if i > 0 %><%= link_to(url, sanitize_user_url(url), target: :_blank) %><% end %>
    </small></p>
  <% end %>

  <% if @tags.any? %>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Tags
      </button>
      <ul class="dropdown-menu">
        <li>
            <%= link_to @repository.default_branch, url_for(sha: nil), class: "dropdown-item #{'active' if @sha == @repository.default_branch}" %>
          </li>
        <% @tags.each do |tag| %>
          <li>
            <%= link_to tag, url_for(sha: tag.name), class: "dropdown-item #{'active' if tag.name == @sha}" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5>Files</h5>

  <div class='card' id="files" data-url="<%= @repository.download_url(@sha, params['sha'].present? ? 'tag' : 'branch') %>" data-basename="<%= @sha || @repository.archive_basename %>" data-path="<%= params[:path] %>">
    <div id='files-header' class="card-header"></div>
    <ul id="files-list" class="list-group list-group-flush"></ul>
    <div id="files-content" class="card-body">Loading...</div>
  </div>

  <div class='card mt-3' id="readme" data-url="<%= @repository.download_url(@sha, params['sha'].present? ? 'tag' : 'branch') %>">
    <div id='readme-header' class="card-header">Readme</div>
    <div id="readme-content" class="card-body">Loading...</div>
  </div>
  
  <% if @repository.dependencies_parsed_at %>
    <% if @manifests.present? %>
      <h5 class='mt-3'>Dependencies</h5>
      <% @manifests.each do |manifest| %>
        <div class="card mb-3">
          <div class="card-header">
            <%= link_to manifest.filepath, manifest.repository_link, target: :_blank %>
            <span class='text-muted'>
              <%= manifest.ecosystem %>
            </span>
          </div>
          <ul class="list-group list-group-flush">
            <% if manifest.lockfile? && manifest.dependencies.length > 100 %>
              <li class="list-group-item">
                <%= link_to pluralize(manifest.dependencies.length, 'dependencies'), manifest.repository_link, target: :_blank %>
              </li>
            <% else %>
              <% manifest.dependencies.sort_by{|d| [d.kind.to_s, d.package_name]}.each do |dependency| %>
                <li class="list-group-item">
                  <%= link_to dependency.package_name, usage_path(dependency.ecosystem, dependency.package_name) %>
                  <i><%= dependency.requirements %></i>
                  <small class='text-muted'>
                  <% if dependency.kind != 'runtime' %>
                    <%= dependency.kind %>
                  <% end %>
                  <% if dependency.optional %>
                    (optional)
                  <% end %>
                  </small>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% else %>
      <p class='mt-3'>No dependencies found</p>
    <% end %>
  <% end %>


</div>