<div class="container-sm">
  <h1 class='mb-3'>
    <%= link_to 'Package Usage', usage_index_path %>:
    <%= link_to @package_usage.ecosystem, ecosystem_usage_path(@package_usage.ecosystem) %>:
    <%= @package_usage.name %></h1>

  <% if @package_usage.registry %>
    <p>
      View more package details on: <%= link_to 'packages.ecosyste.ms', @package_usage.packages_html_url, target: :_blank %>
    </p>
  <% end%>

  <h3>Requirements</h3>
  <% max_rows = 20 %>
  <% rows = [@package_usage.requirements.length, max_rows].min %>
  <%= bar_chart sort_by_semver_range(@package_usage.requirements, max_rows), height: "#{(rows*30)+50}px" %>

  <div class='row my-3'>
    <div class='col'>
      <h3>Kind</h3>
      <%= pie_chart @package_usage.kind, legend: "left", width: '50%'  %>
    </div>
    <div class='col'>
      <h3>Direct</h3>
      <%= pie_chart @package_usage.direct, legend: "left", width: '50%' %>
    </div>
  </div>

  <h3>Dependent Repos (<%= number_with_delimiter @package_usage.dependents_count %>)</h3>
  <%= render @repositories %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>


