<% @meta_title = "#{@host} owners" %>
<% @meta_description = "Repository Owners on #{@host}" %>

<div class="container-sm">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Hosts", root_path %></li>
      <li class="breadcrumb-item"><%= link_to @host, host_path(@host) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= Owner.model_name.human(count: 2) %></li>
    </ol>
  </nav>

  <%= render 'hosts/tabs' %>

  <%= render @owners %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>
</div>
