<% @meta_title = "#{@owner} | #{@host} owners" %>
<% @meta_description = "Repositories of #{@owner} on #{@host}" %>

<div class="container-sm">
  <h1 class='mb-4'>
    <%= link_to @host, host_path(@host) %> / <%= link_to @owner, "#{@host.url}/#{@owner}", target: :_blank %>
    <% if @owner_record %>
      <small class='text-muted'>
        <%= number_with_delimiter(@owner_record.repositories_count) %> <%= Repository.model_name.human(count: @owner_record.repositories_count) %>
      </small>
    <% end %>
  </h1>

  <% if @owner_record %>
    <% if @owner_record.description.present? %>
      <p>
        <%= @owner_record.description %>
      </p>
    <% end %>

    <% if @owner_record.funding_links.any? %>
      <p><small class='text-muted'>
      <%= t '.funding_links' %> <% @owner_record.funding_links.each_with_index do |url,i| %><%= ', ' if i > 0 %><%= link_to(url, sanitize_user_url(url), target: :_blank) %><% end %>
      </small></p>
    <% end %>
  <% end %>

    <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">
        <%= Repository.model_name.human(count: @owner_record&.repositories_count || 0) %>
        <% if @owner_record %>
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @owner_record.repositories_count %>
        </span>
        <% end %>
      </a>
    </li>
    <%= render 'sort' %>
  </ul>

  <%= render @repositories %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>