<% @meta_title = "#{params[:id]}/#{params[:subgroup]} | #{@host} owners" %>
<div class="container-sm">
  <h1 class='mb-4'>
    <%= link_to @host, host_path(@host) %> / <%= link_to @owner, host_owner_path(@host, @owner) %> / 

    <% subgroups = [] %>
    <% @subgroups.each_with_index do |group, i| %>
      <% if i < (@subgroups.length-1) %>
        <% subgroups += [group] %>
        <%= link_to group, subgroup_host_owner_path(@host, @owner, subgroups) %> / 
      <% else %>
        <%= group %>
      <% end %>
    <%end %>
  </h1>

  <%= render @repositories %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>