<% @meta_title = t('virtual.models.topic.other') %>
<% @meta_description = 'Most popular repository topics' %>

<div class="container-sm">
  <h2>
    <%= t 'virtual.models.topic.other' %>
  </h2>


  <div class="row">
    <% @topics.each do |topic| %>
      <% next if topic.name.blank? %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to topic.name, topic_path(topic.name) %>
            </h5>
            <p class="card-text">
              <%= number_with_delimiter topic.repositories_count %> <%= Repository.model_name.human(count: topic.repositories_count) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
