<div class="container-sm">
  <div class="card mb-3">
    <div class="card-header">
      Statistics
    </div>
    <div class="card-body">
      <div class="d-flex">
        Hosts: <%= number_with_delimiter @hosts.length %><br/>
        Repositories: <%= number_with_delimiter @hosts.sum(&:repositories_count) %><br/>
        Owners: <%= number_with_delimiter @hosts.sum(&:owners_count) %><br/>
        Tags: <%= number_with_delimiter Tag.fast_total %><br/>
        Manifests: <%= number_with_delimiter Manifest.fast_total %><br/>
        Dependencies: <%= number_with_delimiter Dependency.fast_total %><br/>
      </div>
    </div>
  </div>

  <% @hosts.group_by(&:kind).each do |kind, hosts| %>
    <div class="card mb-3">
      <div class="card-header">
        <img src="<%= hosts.first.kind_icon_url %>" class="me-1 pull-left" height='20' width='20' onerror="this.style.display='none'">
        <%= link_to kind, kind_hosts_path(kind), class: 'text-decoration-none' %>
        <span class="text-black-50">
          <%= pluralize number_with_delimiter(hosts.length), 'instance' %> - 
          <%= pluralize number_with_delimiter(hosts.sum(&:repositories_count)), 'repository' %>
        </span>
      </div>
       <ul class="list-group list-group-flush">
        <% hosts.first(20).each do |host| %>
          <li class="list-group-item">
            <%= link_to host.name.downcase, host %>
            <span class="text-black-50">
              <%= pluralize number_with_delimiter(host.repositories_count), 'repository' %> 
            </span>
          </li>
        <% end %>
      </ul>
      <% if hosts.length > 20 %>
          <div class="card-footer">
            <%= link_to "and #{hosts.length - 20} more...", kind_hosts_path(kind) %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>